<h1>Directives</h1>

<button class="btn" (click)="isVisible = !isVisible">Toggle</button>

<div *ngIf="isVisible" class="wrap">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi dignissimos earum eius enim ipsum mollitia perferendis perspiciatis ratione vitae.</p>
</div>

<ng-template [ngIf]="isVisible">
<div  class="wrap">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi dignissimos earum eius enim ipsum mollitia perferendis perspiciatis ratione vitae.</p>
</div>
</ng-template>

<div *appIfnot="!isVisible" class="wrap">
  <p>Own directive which change structure</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi dignissimos earum eius enim ipsum mollitia perferendis perspiciatis ratione vitae.</p>
</div>

<h3 appStyle3="70px">ng g d directives/style3 --skipTests</h3>
//need to bind [] if we want to work with objects without [] we are able to work only with string
<p [appStyle]="'red'"
   [dStyles]="{ fontWeight: 'bold', border: '1px solid blue', borderRadius: '10px'}">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi labore natus recusandae.</p>

<p [appStyle]="'blue'"
   [dStyles]="{ fontWeight: 'bold', border: '1px solid red', borderRadius: '15px'}">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi labore natus recusandae.</p>

